# Игнорируем файлы PyCharm
.idea/

# Игнорируем виртуальное окружение
.venv/
env/
venv/

# Конфиги и секретные файлы
.env
*.log

# Кеши и временные файлы
__pycache__/
*.pyc
*.pyo
.DS_Store

